<div class="search">
  <input type="text" [(ngModel)]="searchTerm" />
  <button type="submit" (click)="search()">search</button>
</div>
<div class="image-box">
  <div class="image-container" *ngFor="let bs of search_bus">
    <a><img src="{{ bs.img }}" alt="bus image" /></a>

    <div class="name">
      <p>
        <strong>{{ "NO:" }}</strong
        >{{ bs.BusNo }}
      </p>
      <p>
        <strong>{{ "NAME:" }}</strong
        >{{ bs.BusName }}
      </p>
    </div>
    <p>
      <strong>{{ "FROM:" }}</strong
      >{{ bs.From }}
    </p>
    <p>
      <strong>{{ "To:" }}</strong
      >{{ bs.To }}
    </p>
    <div>
      <!-- <button type="submit" (click)="navigate(bs.BusNo)">View Seats</button> -->
      <button type="submit" [routerLink]="['/seat', bs.BusNo]">
        View Seats
      </button>
    </div>
  </div>
</div>
