body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 150px;
  height: 150px;
}

.image-container {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.image-container img {
  max-width: 300px;
  height: 150px;
}

.name {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search {
  margin-top: 5px;
  margin-left: 300px;
  display: flex;
  align-items: center;
}

/* Style for the search input */
.search input[type="text"] {
  height: 20px;
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  margin-left: 280px;
}

/* Style for the search button */
.search button[type="submit"] {
  margin-left: 10px; /* Add spacing between input and button */
  padding: 10px 20px;
  background-color: #007bff; /* Change to your desired button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the search button */
.search input[type="text"]:hover {
  border: 2px solid rgb(18, 18, 19); /* Change to your desired hover color */
}
