<body>
  <section>
    <h1>HAPPY JOURNEY😀</h1>
    <img
      src="./assets/home.jpg"
      style="width: 500px; height: 300px; margin-left: 100px"
    />
    <h2>Our Story</h2>
    <p>
      Travel Explorer was founded with a passion for exploration and a
      commitment to providing travelers with exceptional experiences. Our goal
      is to make your journey not just a trip but a collection of memorable
      moments that last a lifetime.
    </p>

    <h2>Our Mission</h2>
    <p>
      At Travel Explorer, we believe that travel has the power to enrich lives.
      Our mission is to inspire and facilitate travel by connecting people with
      amazing destinations, cultures, and adventures.
    </p>

    <h2>Why Choose Us?</h2>
    <p>
      <strong>Expert Guidance:</strong> Our team of travel experts is dedicated
      to helping you plan the perfect trip tailored to your preferences.
    </p>
    <p>
      <strong>Unparalleled Experiences:</strong> We curate unique travel
      experiences that go beyond the ordinary, ensuring every journey is
      extraordinary.
    </p>
    <p>
      <strong>Customer Satisfaction:</strong> Your satisfaction is our priority.
      We strive to exceed your expectations at every step of your travel
      adventure.
    </p>

    <h2>Contact Us</h2>
    <p>
      Have questions or need assistance? Feel free to
      <a routerLink="contact">contact us</a>. We're here to help make your
      travel dreams a reality.
    </p>
  </section>

  <footer>
    <p>&copy; 2023 Travel Explorer. All rights reserved.</p>
  </footer>
</body>
